body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
  color: unset;
}

.jumbotron {
  text-align: center;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(4, 26, 153);
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.description{
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px dashed #000000;
  color: black;
}


.past {
  /* fallback for old browsers */
  background: #c31432;;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #c31432, #240b36);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #c31432, #240b36);; 
  color: rgb(207, 253, 189);
  /* font-weight: 300; */
}

.present {
  /* fallback for old browsers */
  background: #0F2027;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  
  color: rgb(238, 67, 253);
  /* font-weight: 650; */
}

.future {
  /* fallback for old browsers */
  background: #00F260;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, #0575E6, #00F260);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, #0575E6, #00F260);
  color: rgb(10, 29, 136);
  /* font-style: italic; */
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f7f2f2;

}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
